a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: hotpink;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1;
}

li {
	padding-left: 1em;
	text-indent: -1em;
}

li:before {
	content: "»";
	padding-right: 5px;
}

#content {
	max-width: 70%;
	margin: 0 auto;
	padding: 1em;
	padding-top: 0;
	text-align: justify;
}

.list-date {
	text-align: right;
	float: right;
	width: 100px;
	font-size: 14px;
	margin-left: 0.5em;
	color: #999999;
	text-transform: lowercase;
}

.category {
	color: #aaaaaa;
	font-style: italic;
	font-size: 14px;
	margin-left: 10px;
}

body {
	background: #f0f0f3;
	color: #444455;
	margin-top: 2em;
	margin-bottom: 3em;
	line-height: 2em;
	font-family: 'Mate', serif;
}
